<!DOCTYPE html>
<html>
    <head>
	    <meta charset='utf-8'>
	    <title>Поиск</title>
    </head>
    <body><br><br>
      <form method='get' action=''>
        Я хочу узнать, как
        <select name='gender' style='display:inline-block'>
          <option value='women'>женщины</option>
          <option value='men'>мужчины</option>
        </select>
        ставят ударение в слове
        <select name='word' style='display:inline-block'>
          <option value='tvorog'>творог</option>
          <option value='svekla'>свекла</option>
          <option value='schavel'>щавель</option>
        </select><br><br>
        <input type='submit' value='Искать'>
      </form>
    </body>
</html>
