<!DOCTYPE html>
<html>
    <head>
	    <meta charset='utf-8'>
	    <title>Результаты</title>
    </head>
    <body>
      <p><b>Результаты анкетирования</b><p>
        {{ women_total }}% респондентов - женщины, {{ men_total }}% - мужчины.<br>
        {{ edu_mid_total }}% респондентов имеют среднее образование, {{ edu_mid_prof_total }}% - среднее специальное, {{ edu_high_nf_total }}% - неоконченное высшее и {{ edu_high_total }}% - высшее.<br><br>
        В слове <i>творог</i> {{ tvOrog }}% респондентов ставят ударение на первый слог и {{ tvorOg }}% - на второй<br>
        В слове <i>свекла</i> {{ svEkla }}% респондентов ставят ударение на первый слог и {{ sveklA }}% - на второй<br>
        В слове <i>щавель</i> {{ schAvel }}% респондентов ставят ударение на первый слог и {{ schavEl }}% - на второй<br>
    </body>
</html>
